doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Page Not Found
    include css_link
  body
    div
      h1 ERROR 404: Page Not Found
      p The page that you requested cannot be found.
      p You may have entered an invalid page, or it is under maintenance.

