doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Cambo Express
        include css_link
        script(src="/js/main.js")
    body
        include nav_bar
        
        h1 Cambo Express
        h3(id="sale-text") Welcome!
        h2 
            | An 
            i excellent 
            | service for your travel
        img(src="/images/angkor.jpeg" alt="Angkor Watt Temple")
        p
            | Welcome! This is
            b Cambo Express
            | . You can request tours to visit
            i Cambodia
            |  and its
            b
                i beautiful
            |  places.
        p
            | Our service includes traveling
            i reservation
            |  and
            i guided tours
            | , which gives a good experience for our customers and visitors.
            br
            | We give you the best services for your visiting.

        p Our service includes:

        ol
            li Tour packages with different period of time
            li Hotel reservation and food
            li Tour guide to enhance better understanding and translation
            li Transportation during the visiting
