div(class="topNav")
            div
                a(href="/main") Home
            div
                a(href="/testimonies") Testimonials
            div
                a(href="/contact") Contact Us
            div
                a(href="/admin/contactlog") Contacts
            div
                a(id="dark-light") Dark Mode