doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Page Review
        include css_link
        script(src="/js/main.js")
    body
        include nav_bar
        
        iframe(src="https://www.youtube.com/embed/xAuxvVBMykI?si=EwMScJrKS4DxzNea" title="YouTube video player")
        h1 Customers' Reviews
        div(class="review-section")
            div
                p(class="review-body")
                    cite Great service and people are very friendly!
                p(class="reviewer-name")
                    b Joshua Winge
            div
                p(class="review-body")
                    cite Highly recommened
                p(class="reviewer-name")
                    b Zua Yang
            div
                p(class="review-body")
                    cite I got a great deal for family trip.
                p(class="reviewer-name")
                    b Pat Sophal
            div   
                p(class="review-body")
                    cite I got full refund for their delayed service.
                p(class="reviewer-name")
                    b Sue Yung
            div
                p(class="review-body")
                    cite They have discount for Costco employees, which is great!
                p(class="reviewer-name")
                    b Connor White
            div
                p(class="review-body")
                    cite I will have another time their service again.
                p(class="reviewer-name")
                    b Jeffery Muller
            div
                p(class="review-body")
                    cite Never get disappointed! Yike!
                p(class="reviewer-name")
                    b Mua Wang
            div
                p(class="review-body")
                    cite Good customer service!
                p(class="reviewer-name")
                    b Lingling Jue
