doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Confirm Post Contact
        include css_link
        script(src="/js/main.js")
    body
        include nav_bar
        h1 Schedule an Appointment
        h2 Schedule has been set successfully!