doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title Error Post Contact
        include css_link
        script(src="/js/main.js")
    body
        include nav_bar
        h1 Schedule an Appointment
        h2
            | Oops! Something Went Wrong!
            br
            | Unable to schedule appointment!